<!--  Block mainStory -->
	<main class="mainStory_block">
		<!-- Block title -->
		<section class="mainStory_block_title">
			<span class="mainStory_block_title_name">
				<h1 class="mainStory_title_name_text">Nome:  </h1>
			</span>
			<span class="mainStory_block_title_content">
				<h2 class="mainStory_title_content_text"><%= titleMain %></h2>
			</span>
		</section>
		<!-- Block Image -->
		<section class="mainStory_block_image">	
			<img class="mainStory_image_foto" src="<%= urlThumbnail %>" />	 
		</section>	
		<!-- Block Description -->
		<section class="mainStory_block_description">
			<span class="mainStory_block_description_title">
				<h3 class="mainStory_description_title_name">Descrição:</h3>
			</span>
			<textarea class="mainStory_description_content"><%= descriptionMain %></textarea>
		</section>
	</main>
