<!DOCTYPE html>
<html>
<head>
  <title>Marvel</title>
  <link rel="stylesheet" type="text/css" href="/static/styles/styleMain.css">
  <link rel="stylesheet" type="text/css" href="/static/styles/styleMainStory.css">
</head>
<body>

  <!-- HEADER BLOCK  -->
  <header class="header">
  	<a  href="/" > 
    	<img class="header_img" src="/static/images/head_marvel.jpg">
   </a>
  </header>

